extends ../_template
block variables
	- var title = 'Главная'

block content

	main
		include ../modules/card-step/card-step
		include ../modules/card/card

		article.container
			.row
				.col
					.main-slider__wrapper
						.swiper-container.main-slider.js-main-swiper-container
							.swiper-wrapper
								-
									let length = 0;

								while length < 6
									.swiper-slide.main-slider__slide(data-slider=length++)
										if ( length == 1 )
											picture.main-slider__slide-bg
												img(src="img/main-banner/main-banner0.jpg", alt="")
											.row
												.col-xl-10
													h1.main-slider__title.title Типография ФОТОПРО Типография ФОТОПРО
													.main-slider__desc Оперативная печать и&nbsp;изготовление выпускных <br>альбомов для родителей, выпускников <br>и&nbsp;профессиональных фотографов в&nbsp;любом количестве Оперативная печать и&nbsp;изготовление выпускных <br>альбомов для родителей, выпускников <br>и&nbsp;профессиональных фотографов в&nbsp;любом количестве
										else
											picture.main-slider__slide-bg
												img(src="img/main-banner/main-banner1.jpg", alt="")
											.row
												.col-xl-10
													h2.main-slider__title.title Типография ФОТОПРО
													.main-slider__desc Оперативная печать и&nbsp;изготовление выпускных <br>альбомов для родителей, выпускников <br>и&nbsp;профессиональных фотографов в&nbsp;любом количестве
							.swiper-pagination
						.swiper-button-prev.main-slider__btn.js-swiper-main-prev
							+svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')
						.swiper-button-next.main-slider__btn.js-swiper-main-next
							+svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')

		article.space-article.container
			h1.title.space-title 4&nbsp;простых шага создания выпускного альбома
			.row
				-
					let data = [
						{
							img: 'img/card-step/card-step1.png',
							title: 'Выбираете',
							list: [
								'Выбираете <a class="link link_inline" href="/albums.html">вариант альбома</a>',
								'Или получаете образец для презентации родителям<span data-tooltip="Всем новым клиентам-фотографам предоставляем комплект бесплатных образцов альбомов."></span>'
							]
						},
						{
							img: 'img/card-step/card-step2.png',
							title: 'Создаете альбом',
							list: [
								'Создаёте альбом  в <a class="link link_inline" href="https://online.fotopro-perm.ru/create/book" target="_blank">онлайн-редакторе</a> (<a class="link link_inline" href="https://online.fotopro-perm.ru/help/create#howtocreate" target="_blank">Инструкция</a>)',
								'Или создаёте альбом в Ps <a class="link link_inline" href="https://cloud.mail.ru/public/5gad/297kJMtxV/" target="_blank">скачать шаблоны</a>'
							]
						},
						{
							img: 'img/card-step/card-step3.png',
							title: 'Мы делаем свою работу',
							list: [
								'Печатаем альбомы из&nbsp;ваших макетов',
								'Изготавливаем альбомы'
							]
						},
						{
							img: 'img/card-step/card-step4.png',
							title: 'Вы получаете готовые альбомы',
							list: [
								'Самовывоз из офиса компании',
								'Курьерская доставка «до двери»',
								'Доставка в любой город России',
							]
						},
					];

				each item in data
					.col-md-6.col-xl-3.space-card-steps
						+card-step(item)

			.row.mt-4.mt-xl-2
				.col-xl-3.ml-auto
					a(href="#").link.link_inline Подробнее

		article.space-article.space-article_top.article-dirty.container
			h2.title.space-title Виды альбомов

			.swiper-container.js-main-card-slider.space-article.space-article_bottom
				.swiper-wrapper.row.main-page-cardset
					-
						let data1 = [
							{
								img: 'img/card/card-header.png',
								modal: '#types',
								id: '3',
								title: 'Альбом-эконом Альбом-эконом',
								list: [
									'твёрдый переплёт, фабричная <strong>нередактируемая</strong> обложка твёрдый переплёт, фабричная <strong>нередактируемая</strong> обложка',
									'глянцевые листы, плотность 190гр глянцевые листы, плотность 190гр',
									'от 1000 стр.',
								],
								price: '200',
							},
							{
								img: 'img/card/card-header.png',
								modal: '#types',
								id: '3',
								title: 'Альбом-эконом',
								list: [
									'твёрдый переплёт, фабричная <strong>нередактируемая</strong> обложка',
									'глянцевые листы, плотность 190гр',
									'от 10 стр.',
								],
								price: '234',
							},
							{
								img: 'img/card/card-header.png',
								modal: '#types',
								id: '3',
								title: 'Альбом-эконом',
								list: [
									'твёрдый переплёт, фабричная <strong>нередактируемая</strong> обложка',
									'глянцевые листы, плотность 190гр',
									'от 10 стр.',
								],
								price: '234',
							},
							{
								img: 'img/card/card-header.png',
								modal: '#types',
								id: '3',
								title: 'Альбом-эконом',
								list: [
									'твёрдый переплёт, фабричная <strong>нередактируемая</strong> обложка',
									'глянцевые листы, плотность 190гр',
									'от 10 стр.',
								],
								price: '234',
							},
							{
								img: 'img/card/card-header.png',
								modal: '#types',
								id: '3',
								title: 'Альбом-эконом',
								list: [
									'твёрдый переплёт, фабричная <strong>нередактируемая</strong> обложка',
									'глянцевые листы, плотность 190гр',
									'от 10 стр.',
								],
								price: '1234',
							},
							{
								img: 'img/card/card-header.png',
								modal: '#types',
								id: '3',
								title: 'Альбом-эконом',
								list: [
									'твёрдый переплёт, фабричная <strong>нередактируемая</strong> обложка',
									'глянцевые листы, плотность 190гр',
									'от 10 стр.',
								],
								price: '234',
							},
							{
								img: 'img/card/card-header.png',
								modal: '#types',
								id: '3',
								title: 'Альбом-эконом',
								list: [
									'твёрдый переплёт, фабричная <strong>нередактируемая</strong> обложка',
									'глянцевые листы, плотность 190гр',
									'от 10 стр.',
								],
								price: '234',
							},
							{
								img: 'img/card/card-header.png',
								modal: '#types',
								id: '3',
								title: 'Альбом-эконом',
								list: [
									'твёрдый переплёт, фабричная <strong>нередактируемая</strong> обложка',
									'глянцевые листы, плотность 190гр',
									'от 10 стр.',
								],
								price: '234',
							},
						];

					each item in data1
						.col-md-6.col-xl-3.space-card-albums.swiper-slide
							+card(item)
				.main-page-cardset__btn.swiper-button-prev
					+svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')
				.main-page-cardset__btn.swiper-button-next
					+svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')

		article.space-article.container
			h2.title.space-title Преимущества
			.row
				-
					let data2 = [
						{
							title: 'Качество',
							desc: 'Стабильная цветопередача, высокое качество печати. Оригинальные европейские расходные материалы.',
							width: '27.2',
							height: '30.92'
						},
						{
							title: 'Скорость',
							desc: 'Быстрые сроки изготовления. <br>Минимальный срок изготовления тиража — 5 часов.',
							width: '28.18',
							height: '31.345'
						},
						{
							title: 'Собственное производство',
							desc: 'Контроль качества печати и&nbsp;сборки на&nbsp;всех этапах производства.',
							width: '32',
							height: '32'
						},
						{
							title: 'Печать цветопробы',
							desc: 'Печать цветопробы одного экземпляра тиража или бесплатная цветопроба страницы.',
							width: '32',
							height: '28.463'
						},
						{
							title: 'Онлайн-редактор',
							desc: 'Большой выбор авторских дизайнов. <br>Удобство и простота в создании макетов.',
							width: '31.2',
							height: '31.2'
						},
						{
							title: 'Лучшие цены',
							desc: 'Все виды альбомов по самым низким ценам.',
							width: '31.55',
							height: '25.953'
						},
					];

				each item, idx in data2
					.col-md-6.col-lg-4.space-preference
						.preference
							.preference__icon
								+svg-use(`preference${idx}`, '', item.width, item.height)
							.preference__content
								.preference__title!= item.title
								.preference__desc!= item.desc

			.row.space-article.space-article_top.js-tab-container.tab.tab_main-page
				.col-12
					h2.title.space-title Примеры альбомов

				.col-12
					ul.tab-list
						li.tab-list__item.js-tab-menu-item.is-active(data-target="#target0")
							h4.tab-list__title Обложки
						li.tab-list__item.js-tab-menu-item(data-target="#target1")
							h4.tab-list__title Развороты
						li.tab-list__item.js-tab-menu-item(data-target="#target2")
							h4.tab-list__title Фотогалерея

				.col-12

					.tab__content.is-active#target0
						.tab__shelf
							img(src="./img/shelf.svg", alt="")
						.swiper-container.js-swiper-container
							.swiper-wrapper
								-
									let lengthSlides = 0;
								while lengthSlides < 10
									.swiper-slide
										a(href="/album-inside.html").album-preview.album-preview_no-hover
											picture.album-preview__image
												img(src="img/albums/album.jpg" alt=`album${lengthSlides++}`)
							.swiper-button-prev.swiper-button
								+svg-use('slider-arrow-thin', '')
							.swiper-button-next.swiper-button
								+svg-use('slider-arrow-thin', '')

					.tab__content#target1
						.tab__shelf
							img(src="./img/shelf.svg", alt="")
						.swiper-container.js-swiper-container.swiper-container-fat
							.swiper-wrapper
								-
									let lengthSlides1 = 0;
								while lengthSlides1 < 10
									.swiper-slide
										a(href="/album-inside.html").album-preview.album-preview_no-hover
											picture.album-preview__image
												img(src="img/albums/album.jpg" alt=`album${lengthSlides1++}`)
							.swiper-button-prev.swiper-button
								+svg-use('slider-arrow-thin', '')
							.swiper-button-next.swiper-button
								+svg-use('slider-arrow-thin', '')

					.tab__content#target2
						.tab__shelf
							img(src="./img/shelf.svg", alt="")
						.swiper-container.js-swiper-container.swiper-container-fat
							.swiper-wrapper
								-
									let lengthSlides2 = 0;
								while lengthSlides2 < 10
									.swiper-slide
										a(href="/album-inside.html").album-preview.album-preview_no-hover
											picture.album-preview__image
												img(src="img/albums/album.jpg" alt=`album${lengthSlides2++}`)
							.swiper-button-prev.swiper-button
								+svg-use('slider-arrow-thin', '')
							.swiper-button-next.swiper-button
								+svg-use('slider-arrow-thin', '')

		article.space-article.article-dirty.container
			.swiper-container.js-main-card-slider
				.swiper-wrapper.row.main-page-cardset
					-
						let data3 = [
							{
								img: 'img/prefooter-card/prefooter-card.jpg',
								title: 'Вы фотограф?',
								desc: 'Мы предлагаем <a href="/questions.html#target1" class="link-inline">специальные условия</a> для фотографов',
								btnText: 'Задать вопрос',
								href: '/questions.html#target1',
							},
							{
								img: 'img/prefooter-card/prefooter-card1.jpg',
								title: 'Нужна помощь?',
								desc: 'Не&nbsp;нашли нужной информацииили не&nbsp;можете определиться с&nbsp;выбором? Перейдите в раздел “<a href="/questions.html">вопрос-ответ</a>” или просто напишите или позвоните нам по&nbsp;телефону: <a href="tel:+73422032300"><strong>+7&nbsp;(342)&nbsp;203&nbsp;23&nbsp;00</strong></a>',
								btnText: 'Написать нам',
								href: '/contacts.html',
							},
							{
								img: 'img/prefooter-card/prefooter-card2.jpg',
								title: 'Онлайн-редактор',
								desc: 'Хотите сэкономить на&nbsp;изготовлении альбома? Создайте  альбом самостоятельно через удобный онлайн-редактор. <a href="#">Инструкция пользования редактором</a>',
								btnText: 'Перейти',
								href: '#',
							},
							{
								img: 'img/prefooter-card/prefooter-card3.jpg',
								title: 'Нужен альбом с&nbsp;фотосессией «под ключ»?',
								desc: 'Предлагаем выпускные альбомы «под ключ» с&nbsp;фотосъёмкой и&nbsp;изготовлением',
								btnText: 'Перейти',
								href: 'http://vipusknik59.ru',
							},
						];

					each item in data3
						.col-md-6.col-xl-3.space-card-albums.swiper-slide
							+card(item, prefooter=true)

				.main-page-cardset__btn.swiper-button-prev
					+svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')
				.main-page-cardset__btn.swiper-button-next
					+svg-use('slider-arrow', 'main-banner__arrow', '12.068', '26.219')